# Base de datos
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=softcamp
DB_PORT=5432

# Servidor
PORT=3000

# JWT - Genera una cadena segura aleatoria
JWT_SECRET=tu_jwt_secret_aqui